.item-count-container{
    text-align: center;
    margin: 20px auto 10px!important;
    height:25px;
}

.button-sub,.button-add,.count-display,.button-add-cart{
    display: inline-block;
}

.count-display{
    padding:6px 30px;
    border:1px solid #efefef;
}

button.button-add-cart.btn.btn-light,button.button-sub.btn.btn-light,button.button-add.btn.btn-light{
    background: #5BA3C4;
    color: white;
}

.add-to-cart-message.success{
    color:green;
}

.add-to-cart-message.error{
    color:red;
}