@font-face {
  font-family: "OlympusMount";
  src: local("OlympusMount"),
   url("./fonts/Olympus-Mount.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
   url("./fonts/Roboto-Regular.ttf") format("truetype");
}